/**
*Theme name: magnetiseur
*Template: onepress
**/

/*Genreral police choice*/
body, button, input, select, textarea {
  font-family: 'Montserrat', sans-serif;
}

/*Style for the header display*/
.site-brand-inner {
    display: grid;
    grid-template: 'a b' auto 'a c' auto / auto auto;
    grid-gap: 5px;
    margin: 10px auto;
  }

.site-logo-div {
  grid-area: a;
  padding-right: 10px;
}

.site-title {
  grid-area: b;
  padding-top: 20px;
}

.container .site-branding .site-brand-inner p.site-description  {
  grid-area: c;
  position: static;
  font-size: 18px;
}

/*Style for the go back links in single & archive*/
.goback{
  display: inline-block;
  padding-top: 20px;
}

.arrow {
 display: inline-block;
 vertical-align: baseline;
 width:0;
 height:0;
 border-right: 14px solid #34C4EC;
 border-bottom: 7px solid transparent;
 border-top: 7px solid transparent;
 margin-right:5px;
}

.goback:hover .arrow {
  border-right-color: #777777;
  transform: translateX(-5px);
}

/*Style for the footer*/
footer .custom-logo {
  padding-bottom: 30px;
}

.widget-area .textwidget {
  width: 100%;
  height: 100%;
}

.widget-area>aside {
  width: 100%;
  height: 100%;
}

.infoContact {
  border-top: solid 1px #34C4EC;
  padding-top: 20px;
}
